{% extends "catalog/base_generic.html" %}

{% block content %}

    <div>
        <p>App Catalog funcionando correctamente!!!</p>
    </div>
<!--    <div>-->
<!--        <p>Nombre de owner: <strong>{{ data.nombre_owner }}</strong></p>-->
<!--        <p>Edad del owner: <strong>{{ data.edad }}</strong></p>-->
<!--        <p>País del owner: <strong>{{ data.pais }}</strong></p>-->
<!--        {% if data.edad >= 18 %}-->
<!--            <p>{{ data.nombre_owner }} es MAYOR de edad</p>-->
<!--        {% else %}-->
<!--            <p>{{ data.nombre_owner }} es MENOR de edad</p>-->
<!--        {% endif %}-->
<!--    </div>-->

    <div>
        {% for catalog in data %}
            <p>Nombre de prenda: <strong>{{ catalog.garment }}</strong></p>
            <p>Clasificacion: <strong>{{ catalog.classification }}</strong></p>
            <p>Precio: S/.<strong>{{ catalog.price }}</strong></p>
            <br>
            <br>
        {% endfor %}
    </div>

{% endblock %}