{% extends "../catalog/base_generic.html" %}

{% block content %}

    <div>
        <h1>Lista de Owners</h1>
    </div>

    <div>
        <form action="post"></form>
        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Pais</th>
            </thead>
            <tbody>
                {% for owner in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th><p>{{ owner.nombre }}</p></th>
                    <th><p>{{ owner.edad }}</p></th>
                    <th><p>{{ owner.pais }}</p></th>
                    <td>
                        <a class="btn btn-info" href="{% url 'owner_update' owner.id %}" role="button">Editar Owner</a>
                        <a class="btn btn-danger" href="{% url 'owner_delete_confirm' owner.id %}" role="button">Eliminar Owner</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}